<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/skillsmonster</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <mapping class="com.masdmtr.skillsmonster.entity.Area"/>
      <mapping resource="com/masdmtr/skillsmonster/entity/Area.hbm.xml"/>
      <mapping class="com.masdmtr.skillsmonster.entity.Country"/>
      <mapping resource="com/masdmtr/skillsmonster/entity/Country.hbm.xml"/>
      <mapping class="com.masdmtr.skillsmonster.entity.Industry"/>
      <mapping resource="com/masdmtr/skillsmonster/entity/Industry.hbm.xml"/>
      <mapping class="com.masdmtr.skillsmonster.entity.SearchRequest"/>
      <mapping resource="com/masdmtr/skillsmonster/entity/SearchRequest.hbm.xml"/>
      <mapping class="com.masdmtr.skillsmonster.entity.SearchResult"/>
      <mapping resource="com/masdmtr/skillsmonster/entity/SearchResult.hbm.xml"/>
      <mapping class="com.masdmtr.skillsmonster.entity.Skill"/>
      <mapping resource="com/masdmtr/skillsmonster/entity/Skill.hbm.xml"/>
      <mapping class="com.masdmtr.skillsmonster.entity.SourceSite"/>
      <mapping resource="com/masdmtr/skillsmonster/entity/SourceSite.hbm.xml"/>
      <mapping class="com.masdmtr.skillsmonster.entity.Vacancy"/>
      <mapping resource="com/masdmtr/skillsmonster/entity/Vacancy.hbm.xml"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>