@import './variable';

@import './fonts';

@import './structure';
@import './typography';
@import './helpers';
@import './components/material-components';
@import './components/ngxtable';
@import './components/bootstrap';
@import './components/calendar';